
body {
  font-family: sans-serif;
  margin-left: 4rem;

}
input {
 padding: 6px;
 margin-bottom: 2rem;
}

.button {
  padding: 7px;
  background: #03A9F4;
  color: white;
  cursor: pointer;
  border: none;
  display: inline;
  outline: none;
}

span {
  display:block;

}

.result {
  margin-top: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
}
